{{#each errors}}
  <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}
  <h3>Edit your item</h3>
  <form action="/items/{{item.id}}?_method=PUT" method="post">
  	<input type = "hidden" name="_method" value= "PUT">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" value="{{item.name}}" required>
    </div>
    <div class="form-group">
      <label for="details">Details</label>
      <textarea class="form-control" name="details" required>{{item.details}}</textarea>
    </div>
    <div class="form-group">
      <label for="brand">Brand</label>
      <input type="text" class="form-control" name="barnd" value="{{item.brand}}" required>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="text" class="form-control" name="price" value="{{item.price}}" required>
    </div>
    <div class="form-group">
      <label for="quantity">Quantity</label>
      <input type="text" class="form-control" name="quantity" value="{{item.quantity}}" required>
    </div>
    <button type="submit" class="btn btn-red">Submit</button>
  </form>